body { 
	background-color : #EEEEEE; 
} 
.container { 
	position : relative; 
	width:1000px; 
	margin: 0 auto; 
} 
.container > div { 
	position: absolute; 
	display: inline-block; 
	box-sizing: border-box; 
	background-color:; 
	border: 1px solid rgba(30,30,35,0); 
	border-radius: 7px; 
} 
.product { 
	left: 0; 
	background-color:white; 
	width: calc(100% - 308px); 
} 
.product >div { 
	padding :20px; 
	border-radius:7px; 
} 
.product .add input{ 
	width:78%; 
	border-radius: 7px; 
	padding: 10px; 
	border: 1px solid silver; 
	box-sizing: border-box; 
} 
.product .add button { 
	background-color: cornflowerblue; 
	padding: 8px; 
	color: white; 
	width: 21%; 
	border: 3px solid cornflowerblue; 
	border-radius: 7px; 
	font-weight:bold 
} 
.product .add button:active { 
	background-color: royalblue; 
} 
.product .add button:hover { 
	background-color: royalblue; 
} 
.product .scroll .detail { 
	border-top: 1px solid silver; 
} 
.product .scroll .detail > div { 
	display: inline-block; 
	width: calc(33% - 0.7px); 
	padding: 5px; 
	box-sizing: border-box; 
} 
.product .scroll .detail .detail-count{ 
	text-align: center; 
} 
.product .scroll .detail .detail-count .detail-count-minus{ 
	width: 30px;
	height: 30px;
	border-radius: 30px;
	color:white;
	background-color:lightcoral; 
	border: 1px solid lightcoral;  

} 
.product .scroll .detail .detail-count .detail-count-minus:active { 
	background-color: firebrick; 
} 
.product .scroll .detail .detail-count .detail-count-current{ 
	padding: 3px 5px; 
	background-color: lightgrey; 
	border: 1px solid lightgrey; 
	border-radius: 5px; 
} 
.product .scroll .detail .detail-count .detail-count-plus{ 
	width: 30px;
	height: 30px;
	border-radius: 30px;
	color:white;
	background-color:limegreen; 
	border: 1px solid mediumseagreen; 
	padding: 5px; 
} 
.product .scroll .detail .detail-count .detail-count-plus:active{ 
	background:seagreen; 
} 
.product .scroll .detail .detail-control { 
	text-align: right; 
} 

.product .scroll .detail .detail-control .detail-control-buy{ 
	height: 30px;
	width: 40%;
	background-color:#F8F8F8; 
	color: darkgrey; 
	border: 1px solid darkgray; 
	border-radius: 5px; 
} 
.product .scroll .detail-control .detail-control-remove{ 
	height: 30px;
	width: 30px;
	background-color: firebrick; 
	border: 1px solid firebrick;
	color: white; 
	border-radius: 5px;
} 

.basket { 
	right: 0; 
	width: 290px; 
	background-color:white; 
} 
.basket .donelist{ 
	padding: 9px; 
	border-bottom: 1px solid silver;} 

.basket .donelist .detail{ 
	border-radius: 5px; 
	background-color: lightgrey; 
	padding: 7px; 
	margin-right: 5px; 
} 
.basket .donelist .detail .detail-count{ 
	height: 20px;
	width: 20px; 
	border-radius:25px;
	background-color: orangered; 
	color: white; 
	padding: 4px; 
} 

.badge >div{ 
	position: fixed; 
	bottom: -80px; 
	left: 180px; 
	width: 110px; 
	height: 100px; 
	background-color:purple; 
	color:white; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	transition-duration: 0.5s;
	font-family: "Helvetica"; 
} 
.badge >div:hover{ 
	transform: translateY(-60px); 
	background-color:pink; 
}
