body { 

    background-color : #EEEEEE; 
} 
    .container { 
    position : relative; 
    width:1000px; 
    margin: 0 auto; 
} 
.container > div { 
    position: absolute; 
    display: inline-block; 
    box-sizing: border-box; 
    background-color:; 
    border: 1px solid rgba(30,30,35,0); 
    border-radius: 7px; 
} 
.row { 
    left: 0; 
    background-color:white; 
    width: calc(100% - 308px); 
} 
.row >div { 
    padding :20px; 
    border-radius:7px; 
} 
.row .add input{ 
    width:78%; 
    border-radius: 7px; 
    padding: 10px; 
    border: 1px solid silver; 
    box-sizing: border-box; 
} 
.row .add button { 
    background-color: cornflowerblue; 
    padding: 8px; 
    color: white; 
    width: 21%; 
    border: 3px solid cornflowerblue; 
    border-radius: 7px; 
    font-weight:bold 
} 
.row .add button:active { 
    background-color: royalblue; 
} 
.row .add button:hover { 
    background-color: royalblue; 
} 
.row .scroll .detail { 
    border-top: 1px solid silver; 
} 
.row .scroll .detail > div { 
    display: inline-block; 
    width: calc(33% - 0.7px); 
    padding: 5px; 
    box-sizing: border-box; 
} 
.row .scroll .detail .detail-count{ 
    text-align: center; 
} 
.row .scroll .detail .detail-count .detail-count-minus{ 
    background-color:lightcoral; 
    border: 1px solid lightcoral; 
    border-radius: 60px; 
    padding: 5px; 
} 
.row .scroll .detail .detail-count .detail-count-minus:active { 
    background-color: firebrick; 
} 
.row .scroll .detail .detail-count .detail-count-current{ 
    padding: 3px 5px; 
    background-color: lightgrey; 
    border: 1px solid lightgrey; 
    border-radius: 5px; 
} 
.row .scroll .detail .detail-count .detail-count-plus{ 
    background-color:mediumseagreen; 
    border: 1px solid mediumseagreen; 
    border-radius: 60px; 
    padding: 5px; 
} 
.row .scroll .detail .detail-count .detail-count-plus:active{ 
    background:seagreen; 
} 
.row .scroll .detail .detail-control { 
    text-align: right; 
} 

.row .scroll .detail .detail-control .detail-control-buy{ 
    padding: 3px 6px; 
    background-color: lightgrey; 
    color: black; 
    border: 1px solid darkgray; 
    border-radius: 5px; 
} 
.row .scroll .detail-control .detail-control-remove{ 
    padding: 3px 6px; 
    background-color: indianred; 
    border: 1px solid indianred; 
    border-radius: 5px;} 

.basket { 
    right: 0; 
    width: 290px; 
    background-color:white; 
} 
.basket .donelist{ 
    padding: 9px; 
    border-bottom: 1px solid silver;} 

.basket .donelist .detail{ 
    border-radius: 5px; 
    background-color: lightgrey; 
    padding: 7px; 
    margin-right: 5px; 
} 
.basket .donelist .detail .detail-count{ 
    border-radius: 50%; 
    background-color: orangered; 
    color: white; 
    padding: 4px; 
} 

.badge >div{ 
	position: fixed; 
	bottom: -80px; 
	left: 180px; 
	width: 100px; 
	height: 100px; 
	background-color:purple;
	color:white; 
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	transition-duration: 0.5s; 
} 
.badge >div:hover{
	transform: translateY(-60px);
	background-color:pink;
}
